{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    {% block style %}{% endblock %}
</head>
<body>
     
    <nav>
        <div class="container">
            <a href="{% url 'home' %}"><div class="title">IU xizmati &bull; Admin panel &bull; Bot foydalanuvchilari soni: {{ users_count }}</div></a>
            <div>
                <a href="{% url 'add_question' %}"><button class="btn add-question">Yangi savol qo'shish</button></a>
                <a href="{% url 'logout' %}"><button class="btn logout">Chiqish</button></a>
            </div>
        </div>
    </nav>

    <div class="body">

        <div class="container">
            {% block content %}


            {% endblock content%}
        </div>
    </div>


</body>
</html>